<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="TcpBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" listenBacklog="1000" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="1000" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint contract="WCF.IBLL.ITest" binding="netTcpBinding" bindingConfiguration="TcpBinding" name="WcfClient" address="test" ></endpoint>
      <endpoint contract="WCF.IBLL.ITestA" binding="netTcpBinding" bindingConfiguration="TcpBinding" name="WcfClient" address="test" ></endpoint>
      <endpoint contract="WCF.IBLL.ITestB" binding="netTcpBinding" bindingConfiguration="TcpBinding" name="WcfClient" address="test" ></endpoint>
    </client>
  </system.serviceModel>
</configuration>